* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-around;
  /* background-color: #eee; */
  padding: 10% 3%;
}
.videoSection {
  /* border: 1px solid black; */
  width: 90%;
  margin: 10% auto;
}
#video {
  border-radius: 7px;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}
.videoSection p {
  width: 85%;
  line-height: 1.5;
  margin: 3% auto;
  text-align: center;
}
.content {
  width: 45%;
}
.content h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
}
.content p {
  margin: 4% 0;
  line-height: 1.4;
  /* color: rgb(31, 30, 30); */
}
.content button {
  cursor: pointer;
  margin-top: 2%;
  /* background-color: #5aaecf; */
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 4% 8%;
  border: none;
  border-radius: 55px;
}
.pic {
  width: 45%;
}
.pic img {
  width: 100%;
  height: auto;
}
.main {
  margin-top: 0;
  padding: 5% 3%;
}
.section {
  margin-bottom: 6%;
  display: flex;
  padding: 2%;
  /* border: 1px solid black; */
}
.section .section-left {
  flex: 0 0 45%;
  /* border: 1px solid black; */
  margin-right: 7%;
  padding: 2%;
}
.section-left h2 {
  font-family: "Montserrat", sans-serif;

  margin: 3% 0;
  font-size: 30px;
}
.section-left p {
  line-height: 1.4;
  align-items: justify;
}
.section .section-right {
  flex: 0 0 46%;
  /* border: 1px solid black; */
}
.picture {
  flex: 0 0 50%;
  margin-right: 6%;
}
.section .section-right img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 2px 8px #808080;
}
#offers {
  color: #0d4e68;
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .content h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
  }
  .content {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .content button {
    text-align: center;
    cursor: pointer;
    margin-top: 2%;
    background-color: #0d4e68;
    color: white;
    font-weight: 300;
    font-size: 15px;
    padding: 3% 8%;
    border: none;
    border-radius: 55px;
  }
  .pic {
    margin: 2% 0;
    width: 70%;
    margin: auto;
  }
  .videoSection p {
    width: 100%;
    line-height: 1.5;
    margin: 3.2% auto;
    text-align: center;
  }
  .section {
    flex-direction: column;
  }
  .section .section-left {
    flex: 0 0 95%;
    text-align: center;
    margin-right: 0;
    margin: 2% auto;
    padding: 2%;
  }
}
