* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.singlePage {
  padding: 4% 2%;
  display: flex;
  /* border: 1px solid #eee; */
  /* margin: 4% 2%; */
}
.singlePage-image-box {
  width: 25%;
}
.singlePage-image-box img {
  width: 100%;
  height: auto;
}
.content-data {
  margin-left: 5%;
  width: 70%;
}
.gray {
  margin: 1% 0;
  color: gray;
}
.italic {
  font-style: italic;
}
#data-title {
  font-family: "El Messiri", sans-serif;
}
.content-data .blue {
  color: rgb(12, 40, 92);
  font-size: 18px;
}
#multipleData {
  width: 100%;
  text-align: center;
  margin: 3% 0;
}
.box {
  padding: 2%;
  margin: 2% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(201, 195, 164);
}
.contentDetailsData {
  font-size: 15px;
  margin: 3% 0;
  align-items: justify;
  line-height: 1.3;
}

/* BOOK DETAILS  */
.Contentdetails {
  margin: 4% 0;
  border: 1px solid rgb(156, 155, 155);
  padding: 2%;
  border-radius: 5px;
}
.Contentdetails h2 {
  font-family: "El Messiri", sans-serif;
}
.Contentdetails div {
  margin: 2% 0;
}
.Contentdetails .detailsData {
  /* line-height: 0.5; */
  font-size: 15px;
  /* color: gray; */
}
.gap{
  margin: 2% 0;
}

@media (max-width: 650px) {
  .singlePage {
    flex-direction: column;
    align-items: center;
  }
  .content-data {
    margin: 5% 0 0 5%;
    width: 95%;
  }
  .box {
    width: 97%;
  }
}
